<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <menu label="System">
            <command
                  commandId="org.maziarz.jdt.utils.commands.copyLocalPath"
                  label="Copy full path"
                  style="push">
            </command>
            <command
                  commandId="org.maziarz.jdt.utils.commands.openTerminal"
                  label="Open terminal"
                  style="push">
            </command>
            <command
                  commandId="org.maziarz.jdt.utils.commands.openTerminal"
                  label="Open with window manager"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      


      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.maziarz.jdt.utils.handlers.CopyLocalPathHandler"
            id="org.maziarz.jdt.utils.commands.copyLocalPath"
            name="Copy object full paths to clipboard">
      </command>
      <command
            defaultHandler="org.maziarz.jdt.utils.handlers.OpenContainerHandler"
            id="org.maziarz.jdt.utils.commands.openTerminal"
            name="Open in terminal">
         <commandParameter
               id="org.maziarz.jdt.utils.commands.terminal"
               name="command"
               optional="true"
               values="org.maziarz.jdt.utils.commands.TerminalCommandValues">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.maziarz.jdt.utils.handlers.OpenContainerHandler"
            id="org.maziarz.utils.ui.commands.openWindowManager"
            name="Open with window manager">
         <commandParameter
               id="org.maziarz.utils.ui.commands.manager"
               name="command"
               optional="true"
               values="org.maziarz.jdt.utils.commands.WindowManagersCommandValues">
         </commandParameter>
      </command>
   </extension>
   
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.maziarz.jdt.utils.commands.openTerminal"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+A">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="org.maziarz.jdt.utils.handlers.ConsoleLineTracker"
            id="org.maziarz.utils.ui.consoleLineTracker"
            processType="java">
      </consoleLineTracker>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.maziarz.jdt.utils.preferences.OmutilsPreferencePage"
            id="org.maziarz.jdt.utils.preferences.OmutilsPreferencePage"
            name="Omutils Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.maziarz.jdt.utils.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
