<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="SQLipse"
            id="sqlipse">
      </category>
      <view
            name="SQLipse"
            icon="icons/sample.gif"
            category="sqlipse"
            class="org.maziarz.sqlipse.views.DataViewPart"
            id="org.maziarz.sqlipse.views.DataViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="sqlipse.context"
            name="SQLipse Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="sqlipse.scheme"
            name="SQLipse Binding Schema">
      </scheme>
      <key
            commandId="sqlipse.commands.runQuery"
            contextId="sqlipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+CR">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="sqlipse.category"
            name="SQLipse Category">
      </category>
      <command
            categoryId="sqlipse.category"
            defaultHandler="org.maziarz.sqlipse.handlers.RunQueryHandler"
            id="sqlipse.commands.runQuery"
            name="Run Query">
      </command>
      <command
            categoryId="sqlipse.category"
            defaultHandler="org.maziarz.sqlipse.handlers.ConfigureConnectionsHandler"
            id="sqlipse.commands.configureConnections"
            name="Configure Connections">
      </command>
      <command
            categoryId="sqlipse.category"
            defaultHandler="org.maziarz.sqlipse.handlers.ConfigureDriversHandler"
            id="sqlipse.commands.configureDrivers"
            name="Configure Drivers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.maziarz.sqlipse.views.DataViewer">
         <command
               commandId="sqlipse.commands.runQuery"
               icon="icons/sample.gif"
               label="Run Query"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
