<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="SQLipse"
            id="sqlipse">
      </category>
      <view
            name="SQLipse"
            icon="icons/sample.gif"
            category="sqlipse"
            class="org.maziarz.sqlipse.views.DataViewer"
            id="org.maziarz.sqlipse.views.DataViewer">
      </view>
   </extension>
</plugin>
