<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
          <menu label="Wicket">
            <command
                  commandId="org.maziarz.utils.ui.commands.createMarkupFile"
                  label="Create markup file"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar:org.maziarz.utils.ui.toolbar"
               label="Wicket Toolbar">
            <command
                  id="org.maziarz.utils.ui.toolbar.wicket"
                  commandId="org.maziarz.utils.ui.commands.openMarkup"
                  icon="icons/openMarkup.gif"
                  label="Open Markup"
                  style="pulldown"
                  tooltip="Go to markup file">
            </command>
         </toolbar>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="menu:org.maziarz.utils.ui.toolbar.wicket">
	        <command
	              commandId="org.maziarz.utils.ui.commands.createMarkupFile"
	              label="Create Markup"
	              style="push"
	              tooltip="Create markup file">
	        </command>
       </menuContribution>

      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      
      <command
            defaultHandler="org.maziarz.utils.ui.wicket.handlers.OpenMarkupHandler"
            id="org.maziarz.utils.ui.commands.openMarkup"
            name="Open markup">
      </command>
      <command
            defaultHandler="org.maziarz.utils.ui.wicket.handlers.CreateMarkupHandler"
            id="org.maziarz.utils.ui.commands.createMarkupFile"
            name="Create markup file">
      </command>
   </extension>
   
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.maziarz.utils.ui.commands.openMarkup"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+S">
      </key>
   </extension>
   
   

</plugin>
